.custom-card {
    width: 100%;
    max-width: 20rem;
    margin: 1.5rem;
}

.card-setter {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.card-moment{
    float: right;
    font-size: 0.7rem;
    padding-top: 1rem;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
    .card-setter {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
    .card-setter {
        grid-template-columns: repeat(3, 1fr);
    }
}